h1 {
    text-align: center;
    color: rgb(6, 7, 77);
}

h2 {
    color: rgb(6, 77, 77);
}

.img-rounded-border {
    border:10px solid rgb(15, 170, 170);
    border-radius:10px;
}

.img-margin {
    margin:10px;
  }
